<div class="row grid-buttons">
 
  <div class="col-md-12 text-right">
    <button type="button" class="btn btn-primary" ui-sref="fleet.locations.add">New</button>
  </div>
</div>

<div>
  <div id="grid1" ui-grid="vm.gridOptions"></div>
</div>
