<div class="row">
  <div class="col-xs-1 col-sm-2 col-md-4">
  </div>
  <div class="col-xs-10 col-sm-8 col-md-4">
    <h2>Log In</h2>

    <form name="loginForm"
          ng-submit="loginForm.$valid && vm.login()"
          novalidate>

      <div class="alert alert-danger" ng-if="vm.loginFailed">
        <strong>The username or password is incorrect.</strong>  Please try again.
      </div>

      <div class="form-group row"
           ng-class="{'has-error': loginForm.username.$invalid && (loginForm.$submitted || loginForm.username.$touched)}">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <input class="form-control"
          ng-model="vm.username"
          id="username"
          name="username"
          required>
        <span class="help-block text-danger" ng-if="loginForm.username.$invalid && (loginForm.$submitted || loginForm.username.$touched)">
          "Username" is a required field
        </span>
      </div>
      <div class="form-group row"
           ng-class="{'has-error': loginForm.password.$invalid && (loginForm.$submitted || loginForm.password.$touched)}">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <input
          type="password"
          class="form-control"
          ng-model="vm.password"
          id="password"
          name="password"
          required>
        <span class="help-block text-danger" ng-if="loginForm.password.$invalid && (loginForm.$submitted || loginForm.password.$touched)">
          "Password" is a required field
        </span>
      </div>

      <div class="form-group row">
        <button type="submit" class="btn btn-default"
                ng-disabled="loginForm.$invalid">
          Log In
        </button>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-2 col-md-4">
  </div>
</div>
