<form name="vehicleForm"
      ng-submit="vehicleForm.$valid && vm.save()"
      fa-route-change-confirmation
      novalidate>

  <div class="panel">
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-6">

          <div class="form-group row"
               ng-class="{'has-error': vehicleForm.vin.$invalid && (vehicleForm.$submitted || vehicleForm.vin.$touched)}">
            <label for="vin" class="col-sm-2 control-label">VIN</label>

            <div class="col-sm-6"
                 ng-init="vinMaxLen='17'">
              <input class="form-control" ng-if="vm.isEditable()"
                     ng-model="vm.vehicle.vin" id="vin"
                     ng-maxlength="{{vinMaxLen}}"
                     name="vin" required>

              <span class="help-block text-danger" ng-if="vehicleForm.vin.$error.required">
                "VIN" is a required field
              </span>
              <span class="help-block text-danger" ng-if="vehicleForm.vin.$error.maxlength">
                "VIN" exceeds the maximum length of {{vinMaxLen}}
              </span>

              <p id="vinText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.vehicle.vin}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label for="make" class="col-sm-2 control-label">Make</label>

            <div class="col-sm-6">
              <select class="form-control" ng-if="vm.isEditable()"
                      ng-model="vm.vehicle.makeId" id="make"
                      name="make" ng-change="vm.synchLookups()"
                      required>
                <option ng-repeat="make in vm.makes"
                        value="{{make.id}}">
                  {{make.name}}
                </option>
              </select>
              <span class="help-block text-danger" ng-if="vehicleForm.make.$error.required">
                "Make" is a required field
              </span>

              <p id="makeText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.selectedMake.name}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label for="model" class="col-sm-2 control-label">Model</label>

            <div class="col-sm-6">
              <select class="form-control" ng-if="vm.isEditable()"
                      ng-model="vm.vehicle.modelId" id="model"
                      name="model" ng-change="vm.synchLookups()"
                      required>
                <option ng-repeat="model in vm.models"
                        value="{{model.id}}">
                  {{model.name}}
                </option>
              </select>
              <span class="help-block text-danger" ng-if="vehicleForm.model.$error.required">
                "Model" is a required field
              </span>

              <p id="modelText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.selectedModel.name}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label for="year" class="col-sm-2 control-label">Year</label>

            <div class="col-sm-6">
              <select ng-options="year as year for year in vm.years" ng-model="vm.vehicle.year" id="year"
                      name="year" ng-if="vm.isEditable()" ng-change="vm.synchLookups()"
                      class="form-control" required></select>
              <span class="help-block text-danger" ng-if="vehicleForm.year.$error.required">
                "Year" is a required field
              </span>

              <p id="yearText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.vehicle.year}}
              </p>
            </div>
          </div>

          <div class="form-group row"
               ng-class="{'has-error': vehicleForm.miles.$invalid && (vehicleForm.$submitted || vehicleForm.miles.$touched)}">
            <label for="miles" class="col-sm-2 control-label">Miles</label>

            <div class="col-sm-6">
              <input class="form-control" ng-if="vm.isEditable()" type="number"
                     ng-model="vm.vehicle.miles" id="miles"
                     miles="miles">

              <p id="milesText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.vehicle.miles}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label for="color" class="col-sm-2 control-label">Color</label>

            <div class="col-sm-6">
              <select ng-options="color as color for color in vm.colors" ng-model="vm.vehicle.color" id="color"
                      name="color" ng-if="vm.isEditable()" ng-change="vm.synchLookups()"
                      class="form-control"></select>

              <p id="colorText" class="form-control-static"
                 ng-if="!vm.isEditable()">
                {{::vm.vehicle.color}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label for="rentToOwn" class="col-sm-2 control-label">Rent to Own</label>

            <div class="col-sm-6">
              <input type="checkbox"
                     ng-model="vm.vehicle.isRentToOwn"
                     name="rentToOwn" ng-show="vm.isEditable()"
                     id="rentToOwn" ng-checked="vm.vehicle.isRentToOwn">
              <div class="ui-grid-cell-contents">
                <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-hide="vm.isEditable()" ng-if="vm.vehicle.isRentToOwn"></span>
              </div>
            </div>
          </div>

        </div>

        <div class="form-group col-sm-6">
          <div>
            <div class="thumbnail" data-ng-hide="vm.vehicle.image">
              <img src="../../../../assets/img/no-image.png" />
            </div>
            <div class="thumbnail" data-ng-show="vm.vehicle.image">
              <img data-ng-src="{{vm.vehicle.image}}" />
            </div>
            <button type="button" name="file" ngf-accept="'image/*'"
                    class="btn btn-primary"
                    ng-show="vm.isEditable()"
                    ngf-select="vm.onLoadImageFile($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                    ngf-max-size="70KB">
              Select
            </button>
            <span class="help-block text-danger" ng-show="vm.imageFileErrorMessage">
              {{vm.imageFileErrorMessage}}
            </span>
        </div>

      </div>
    </div>
  </div>

  <div class="form-group" ng-if="vm.isEditable()">
    <div class="col-sm-8 text-right">
      <button type="submit" class="btn btn-default"
              ng-disabled="vehicleForm.$invalid">
        Submit
      </button>
      <button type="button" class="btn btn-default" ui-sref="fleet.locations.vehicles">Cancel</button>
    </div>
  </div>

</form>

