<div class="row">
  <div class="col-xs-12 col-sm-4">
    <h2>Fusion Alliance</h2>
    <p>
      Some company specific marketing blurb goes here... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>

  <div class="col-xs-12 col-sm-8">
    <a ui-sref="fleet.locations.list">
      <!--Just hardcoding for now. Image should come from the API.-->
      <img src="../../assets/img/mercedes_s_class.jpg" width="100%">
    </a>
  </div>
</div>
