<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="http://www.fusionalliance.com" rel="external" target="_blank">
          <!--Just hardcoding for now. Image should come from the API.-->
          <img src="../../assets/img/fa_logo.jpg" class="logo" alt="logo" width="180px" height="30px">
        </a>
      </div>
      <div class="navbar-header">
        <a ui-sref="main" class="navbar-brand">AutoRenter</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav" ng-if="vm.isUserAuthenticated()">
          <li><a ui-sref="admin.users.list">Admin</a></li>
          <li><a ui-sref="fleet.locations.list">Fleet</a></li>
          <li><a ui-sref="tech-support">Tech Support</a></li>
        </ul>
        <div class="dropdown nav navbar-nav navbar-right" uib-dropdown>
          <button
            style="margin-top: 12px; background-color: transparent; border: none;"
            class="dropdown-toggle"
            type="button"
            uib-dropdown-toggle
            ng-click="vm.handleTopRightButtonClick()"
          >
            {{ vm.isUserAuthenticated() ? vm.username() : 'Login' }}
            <span ng-if="vm.isUserAuthenticated()" class="caret">
            </span
          ></button>
          <ul class="dropdown-menu" uib-dropdown-menu role="menu" ng-if="vm.isUserAuthenticated()">
            <li role="menuitem">
              <a
                ui-sref="login"
                ng-click="vm.logOutUser()"
              >
                Logout
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
